<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>v-model-checkbox</title>
</head>
<body>
<div id="app">
  <h1>{{message}}</h1>
  <input type="checkbox" name="hobby" value="篮球" v-model="hobby">篮球
  <input type="checkbox" name="hobby" value="足球" v-model="hobby">足球
  <input type="checkbox" name="hobby" value="网球" v-model="hobby">网球
  <input type="checkbox" name="hobby" value="排球" v-model="hobby">排球
  <p>hobby--{{hobby}}</p>
</div>

<script src="../js/vue.js"></script>
<script>
  const vm = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue.js!',
      hobby: ['篮球','网球']
    }
  });
</script>
</body>
</html>